html {
	font-size: 18px;
}

.navbar {
    background-color: black;

}

li {
    margin-bottom: 2%;
   
}


p {
	font-size: 17px;
	margin-left: 2%;
    margin-top: 2%;
}

#bodyinput {
    width: 50%;
}

.jumbotron {
	overflow: hidden;
    background-size: 50%;
    background-position: center;
    background-color: black;
    color:white;
    height: 200px;
    width: 100%;
}

.center {
    text-align: center
}

.panel-heading.row {
	width: 100%;
    margin-left: 0%;
    background-color: black
}

.panel-body  {
    color:black;
}

.panel-primary {
    height: 135px;

}

#savenote {
    display: block;
}

@media screen and (max-width: 640px) {

}

